<div >
    <br>
    <p class="text-center">
        <br><br>
        <b>list dropper</b> is the number one social media for <b>lists</b>.<br><br>
        Use list dropper to <b>look around</b> for new lists.<br>
        <b>Search</b> for specific topics you are interested in. <br>
        On list dropper you can <b>drop</b> a completely new list or <br>
        <b>add</b> to an existing one. <br><br>
        Or directly <b>comment</b> on items <br>
        you have an opinion or question about.<br>
        It's also possible to <b>save</b> lists <br>
        for later or <b>subscribe</b> to <b>chapters</b> of lists.
        <br><br>
        list dropper - it's always nice to have <b>options</b>.<br><br>
    </p>



    <div class="fixed-bottom p-2"><span class="d-flex justify-content-center">
            <button class="btn-dark m-4 d-md-none" [routerLink]="['/drop']">DROP</button>
        </span>
    </div>
</div>