<div class="card mx-auto pt-1  border-0" aria-hidden="true" style="width: 90%; max-width: 22rem;">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow pt-4">
        <span class="placeholder col-7 "></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <div class="card-body text-center">
        <div class="d-flex justify-content-between">
          <p class="card-text placeholder-glow pt-4">
            <span class="placeholder col-8 ">
              <span class="ml-auto pt-3 pe-3 p-2"> MORE </span> </span>
            <span class="placeholder col-3 ">
              <span class="ml-auto p-4"> </span> </span>
        </div>
      </div>
    </div>
  </div>
  <span class="p-5"></span>
  <div class="card mx-auto pt-1 border-0" aria-hidden="true" style="width: 90%; max-width: 22rem;">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow pt-4">
        <span class="placeholder col-7 "></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <div class="card-body text-center">
        <div class="d-flex justify-content-between">
          <p class="card-text placeholder-glow pt-4">
            <span class="placeholder col-8 ">
              <span class="ml-auto pt-3 pe-3 p-2"> MORE </span> </span>
            <span class="placeholder col-3 ">
              <span class="ml-auto p-4"> </span> </span>
        </div>
      </div>
    </div>
  </div>