<div class="card border-0 mx-auto" style="width: 90%; max-width: 22rem; background-color: #F0F7FE;">

    <h4 *ngIf="!send_successful" class="pt-5">Enter your new password</h4>
    
    <p *ngIf="!send_successful" class="pt-4">Add your new password below and continue list dropping!</p>
    
    
    <form *ngIf="!send_successful" [formGroup]="newPassword" (ngSubmit)="onSubmit()">
        <div  class="d-flex align-items-top pt-4 px-2">
            <div class="col d-flex">
                <input class="form-control" placeholder="enter new password" 
                    formControlName="password" [type]="hide ? 'password' : 'text'" > 
                    <a *ngIf="!hide" (click)="passwordHideSwitch()" class="btn btn-link"><i class="bi bi-eye-fill"></i>
                    </a>
                    <a *ngIf="hide" (click)="passwordHideSwitch()" class="btn btn-link"><i class="bi bi-eye-slash-fill"></i>
                    </a>
            </div>
        </div>
        <span  class="d-flex justify-content-center pt-2 ">
        <span *ngIf="!send && !send_successful" class="pt-2 ps-2"><button type="submit" class="btn btn-dark fw-bold"
            [disabled]="isBusy">CHANGE!</button></span>
        <span *ngIf="send && send_successful" class="pt-2 ps-2"><span class="btn btn-success"><i class="bi-check-lg text-white" width="32"
            height="32"></i> CHANGED!</span></span>
        <span *ngIf="send && !send_successful" class="pt-2 ps-2"><span class="btn btn-danger"><i class="bi-x-lg text-white" width="32"
            height="32"></i> NOT CHANGED!</span></span>
        </span>
        <p *ngIf="send && !send_successful"></p>
        <span *ngIf="send && !send_successful" class="pt-5">It might be that your link is expired. <br><a class="fw-bold" [routerLink]="['/forgotpassword']">Request a new mail here.</a></span>
    </form>
    


    <div  *ngIf="send_successful">
    <h4 class="pt-5">Successfully changed the password for {{username}}!</h4>
<p class="pt-4">Continue to drop a list or go to your feed</p>
<div class="py-3 d-flex justify-content-around align-items-center">
<a [routerLink]="['/drop']" class="btn btn-dark fw-bold m-0">DROP A LIST</a>
<a [routerLink]="['/']" class="btn btn-outline-dark btn-sm m-0">TO FEED</a>
</div></div>
    
    <p> </p> 
    <p> </p>
    <p> </p>
    </div>