/* Global Styles */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");



* {
  font-family: Helvetica, 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Global Styles */

/* @import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");


:root {
  --bs-font-sans-serif: "San Francisco";
}

* {
  font-family: "San Francisco", 'Poppins', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 */

 html{
  margin: 0;
  background-color: #F0F7FE;
}

body {
  background-color: #F0F7FE;
  padding-bottom: env(safe-area-inset-bottom) !important;
} 

.text-gray {
  color: #adb5bd;
}


.modal {
  padding-top: env(safe-area-inset-top) !important;
} 



  
  /* .lists {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding-bottom: 200px;
    background-color: #ffffff;
}  */

 
.container {
  display: flex;
  flex-direction: row;
}

router-outlet+* {
  padding: 0 0px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}



h1,
h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */





a {
  cursor: pointer;
  /* color: #1976d2; */
  color: #004f84;
  text-decoration: none;
}

/* a:link {
  color: #004f84;
} */

/* visited link grey */
/* a:visited {
  color: #004f84;
} */

/* mouse over link blue */
a:hover {
  color: #004f84;
}

/* selected link blue */
a:active {
  color: #004f84;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  /* background-color: #1976d2; */
  color: white;
  border: none;
}

.btn-primary {
  color: #fff;
  font-weight: bold;
}

.button:hover,
button:hover {
  opacity: 0.8;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

.navbar {
  width: 100%;
  /* background-color: #CFFED4; */
  background-color: #c0f9cb;
  display: flex;
  padding: 0;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}


.card{
  border-radius: 2em !important;
}


.white-css{
  background-color: #fff !important; 
}


.card-header {
  border-bottom: #ffffff;
  border-radius: 2em !important;
   background-color: #ffffff; 
}

/* .card {
border: 5px solid black;
} */

.modal-header {
  background-color: #eee;
}

/* .modal-footer {
  background-color: #eee;
} */

small {
  visibility: visible;
  white-space: pre-line;

  /* or pre-wrap or pre-line */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/white-space */
}



.line-clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;  
  -webkit-line-clamp: 5;
}

.line-clamp-3 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;  
  -webkit-line-clamp: 3;
}