<app-my-stuff></app-my-stuff>


<app-feed-shell [lists]="lists" [lists]="lists"  [saved_lists]="saved_lists" [button_text]="button_text" [startup]="startup"  [isLoggedIn]="isLoggedIn" [lists]="lists"
  (unSaveEvent)="removeFromSaved($event)" (saveEvent)="addToSaved($event)">
</app-feed-shell>

 
<div *ngIf="lists.length == 0 && startup == false">
    <br>
    <p class="text-center">
        Lists you drop show here <br><br>
        <b><a [routerLink]="['/drop']">drop</a></b> your first list now<br><br>
    </p>

    <div class="fixed-bottom p-2"><span class="d-flex justify-content-center">
            <button class="btn-dark m-4 d-md-none" [routerLink]="['/drop']">DROP</button>
        </span>
    </div>
</div>


<!-- <div *ngIf="loading">
    <br>
    <app-loading></app-loading>
</div>

<div *ngIf="lists.length == 0 && loading == false">
    <br>
    <p class="text-center">
        Lists you drop show here <br><br>
        <b><a [routerLink]="['/drop']">drop</a></b> your first list <br><br>
    </p>

    <div class="fixed-bottom p-2"><span class="d-flex justify-content-center">
            <button class="btn-dark m-4 d-md-none"  [routerLink]="['/drop']">DROP</button>
        </span>
    </div>
</div>


<div *ngIf="lists.length">
        <div *ngFor="let list of lists.slice().reverse()">
            <p></p>
            <div class="card card-body mx-auto pt-2 shadow-sm border-0" style="width: 90%; max-width: 22rem;">
                <div class="row align-items-center p-2">    
                <h5 class="card-title p-2">{{list.listTitle}}</h5>
                </div>
                    <img class="card-img-top" #myImage [hidden]="myImage.isBugged" (error)="myImage.isBugged = true"
                        src="{{list.listImageUrl}}">

                    <div class="pt-3 flex-column">
                         <div *ngFor="let sublist of list.sublist | slice:0:1">
                            <div *ngFor="let item of sublist.item | slice:0:3; let iy=index "
                                class="row p-2 align-items-start" >
                                <div class="col-1 me-2">
                                    <span class="badge bg-dark">{{iy+1}}</span>
                                </div>
                                <div class="col">
                                    <span>{{item.itemTitle}}</span>
                                </div>
                            </div>
                        </div> 
                        <div class="card-body text-center">
                            <div class="d-flex justify-content-between py-1 pt-3">
                                <a class="px-3 my-auto" [routerLink]="['/lists', list._id.$oid]">
                                    READ MORE</a>
                                <span class="ml-auto my-auto px-3"> <button 
                                        class="btn btn-outline-dark btn-sm" style="position: relative;"
                                        [routerLink]="[button_target, list._id.$oid]">{{button_text}}</button></span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</div>
<div class="fixed-bottom p-2"><span class="d-flex justify-content-center">
        <button class="btn-dark m-4 d-md-none" [routerLink]="['/drop']">DROP</button>
    </span></div> -->