<div class="col-md-12">
    <div><br></div>
      <form 
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="form.valid && onSubmit()"
        novalidate
      >
        <div class="form-group">
          <label for="username" class="badge badge-light p-1">Screenname</label>
          <input
            type="text"
            class="form-control"
            name="username"
            formControlName="form.username"
            required
            minlength="4"
            maxlength="20"
          />
          <!-- <div class="alert-danger" *ngIf="username.errors && form.submitted">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 4 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div> -->
        </div>
        <div class="form-group">
          <label for="email" class="badge badge-light p-1">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            formControlName="form.email"
            required
            email
          />
          <!-- <div class="alert-danger" *ngIf="email.errors && form.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div> -->
        <div class="form-group">
          <label for="password" class="badge badge-light p-1">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            formControlName="form.password"
            required
            minlength="6"
          />
          <!-- <div class="alert-danger" *ngIf="password.errors && form.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
             <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div> -->
        </div>
        <div class="form-group">
            <div><br></div>
            <button type="submit"  class="btn btn-dark btn-primary">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="form.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      <!-- </form> -->
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
  </div> 