<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360130518473-5t64hfe6c8oprven74i2g0k2tj3mqqcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360130518473-5t64hfe6c8oprven74i2g0k2tj3mqqcn</string>
	<key>API_KEY</key>
	<string>AIzaSyDmqqzkxOl7dXHX0fJmZ_0JhooL7xI_oqU</string>
	<key>GCM_SENDER_ID</key>
	<string>360130518473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.listdropper.app</string>
	<key>PROJECT_ID</key>
	<string>listdropper-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>listdropper-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360130518473:ios:2a2f4517ed972b22ff1c18</string>
</dict>
</plist>